.product-details {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-details img {
  width: 50%;
  max-width: 370px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  align-self: center;
}

.product-details h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d3748;
  text-align: center;
}

.product-details p {
  font-size: 1rem;
  color: #4a5568;
  line-height: 1.6;
}

.product-details p span {
  font-weight: bold;
  color: #2d3748;
}

.product-details .price {
  font-size: 1.25rem;
  color: #38a169;
  font-weight: bold;
}

.product-details .discount {
  font-size: 1rem;
  color: #e53e3e;
  font-weight: bold;
}

.loading {
  text-align: center;
  font-size: larger;
}

.prodButton {
  background-color: #38a169;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.header {
  background-color: #2d3748;;
  padding: 20px;
  text-align: center;
}

.header-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.footer {
  background-color: #2d3748;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.footer-text {
  color: #a0aec0;
  font-size: 1rem;
}
